nav>ul>li{
  display: inline;
  /* text-decoration:none; */

}
footer{
  text-align: center;
  margin-top: 30px;
}
.intro{
  text-align: justify;
}
lable{
  display:block;
  margin-bottom:10px;
}
td, th{
  border: 1px solid red;
  padding: 5px 10px; 
  /* Up down + Right Left */
}
table{
  border-collapse: collapse;
}
.salary{
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
}
.table{
  background-color: rgba(238, 90, 36,1.0);
  text-align:center;
  font-size: 40px;
  color: rgba(245, 246, 250,1.0); 
  border-radius: 10px;
}
.jamal{
  background-color: rgba(238, 90, 36,1.0);
  text-align:center;
  font-size: 30px;
  color: rgba(245, 246, 250,1.0); 
  border-radius: 10px;
}
marquee{
  font-size: 20px;
  color:rgba(232, 65, 24,1.0);
  background-color:rgba(245, 246, 250,1.0);
  border-radius: 8px;

}
